  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
    </ul>
    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Expand to full screen -->
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
          <i class="fas fa-user-lock"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
          <a href="account/logout" class="dropdown-item">
            <div class="media">
              <div class="media-body">
                <i class="fas fa-lock"></i>
                <NavLink target="_blank" class="ml-md-auto" style="color:gray;">&nbsp;Logout</NavLink>
              </div>
            </div>
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="Admin_LTE/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light">Entry Now</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class with font-awesome or any other icon font library -->
          <li class="nav-item menu-open">
            <NavLink href="" class="nav-link" Match="NavLinkMatch.All">
              <i class="nav-icon fas fa-home" aria-hidden="true"></i>
              <p>
                Home
              </p>
            </NavLink>
          </li>
          @*<li class="nav-item">
            <NavLink class="nav-link">
              <i class="nav-icon fas fa-th-list"></i>
              <p>
                Entries
                <i class="right fas fa-angle-left"></i>
              </p>
            </NavLink>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <NavLink href="entries/index" class="nav-link" Match="NavLinkMatch.All">
                  <i class="fas fa-eye"></i>
                  <p>View Entries</p>
                </NavLink>
              </li>
              <li class="nav-item">
                <NavLink href="entries/add" class="nav-link">
                  <i class="fas fa-plus-circle"></i>
                  <p>Add Entries</p>
                </NavLink>
              </li>
            </ul>
          </li>*@
          <li class="nav-item menu-open">
            <NavLink href="entries/index" class="nav-link">
              <i class="nav-icon fas fa-th-list"></i>
              <p>
                Entries
              </p>
            </NavLink>
          </li>
          <li class="nav-item menu-open">
            <NavLink href="references/index" class="nav-link">
              <i class="nav-icon fas fa-user-shield" aria-hidden="true"></i>
              <p>
                References
              </p>
            </NavLink>
          </li>
          <li class="nav-item menu-open">
            <NavLink href="reports/index" class="nav-link">
              <i class="nav-icon fas fa-file" aria-hidden="true"></i>
              <p>
                Reports
              </p>
            </NavLink>
          </li>
          <li class="nav-item menu-open">
            <NavLink href="settings/index" class="nav-link">
              <i class="nav-icon fas fa-wrench" aria-hidden="true"></i>
              <p>
                Settings
              </p>
            </NavLink>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>