@inherits LayoutComponentBase
@layout EmptyLayout
@inject EntryNow.Web.Services.Interface.IAccountService AccountService
@inject NavigationManager NavigationManager

<div class="col-md-4 offset-md-4" style="margin-top: 17%">
    @Body
</div>

@code {
    protected override void OnInitialized()
    {
        // redirect to home if already logged in
        if (AccountService.User != null)
        {
            NavigationManager.NavigateTo("");
        }
    }
}